/* Reset*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
/*main styling*/
body{ font-family:'Roboto', sans-serif;
    line-height: 1.7em ;

}
/*utility class*/
.container{
    margin: auto;  
    max-width: 1200px;
    padding-top: 15px ;
    overflow: auto;
    
}
.showcase-container {
    max-width: 1200px;
    padding: 0 90px;
    overflow: auto;
    margin: auto;
}


/*placement*/
.header{
    display: flex;
    justify-content: space-between;
}



h1,h2,h3{
    padding-bottom: 30px;
}

p{
    padding: 10px 0;
}

m-text{
    color:rgb(175, 51, 9);
    font-size: 60px;
}


.showcase-content{
    margin-top: 1rem;
}
#showcase{
    background: antiquewhite url('../cover\ image-01-01.png') no-repeat center center/cover;
    height: 90vh;
    
}


#showcase .showcase-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 80px;
}
#showcase .showcase-content h1{
    font-size: 70px;
    font-weight: bolder;

    
}
#showcase .showcase-content h2{
    font-size: 20px;
    font-weight: lighter;  
    padding-bottom: 90px;
}
.showcase-content h2{
    color: rgb(146, 21, 21);
    font-size: 22px;
}
#showcase  .showcase-content .lead{
    color: rgb(28, 28, 28);
    font-size: 20px;
    line-height:  1.7em;
    width: 140vh;
    align-items: center;
}

#showcase  .showcase-content .lead2{
    color: rgb(101, 100, 100);
    font-size: 18px;
    line-height:  1.7em;
    width: 120vh;
    align-items: center;
}

#details-info1{
    height:650px;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    padding-right: 0;
    background: rgb(232, 232, 232);


}
.info1-img{
    
    background:url('../california-county\ 1.png') no-repeat center center/cover ;
    position: relative;
    min-height: 100%;
    flex-basis: 2772px;
    
} 
#details-info1 .info1-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 80px 160px;
    
    justify-content: center;
}
#details-info1 .info1-content h2{
    font-size: 45px;
    font-weight: bolder;
    color:rgb(230, 175, 46);
}

#graph1{
    
    height: 600px;
    width: 60%;
    justify-content:right ;
    padding: 121px 90px;
    flex-wrap: nowrap;
   
}

#graph {
    max-width:1560px ;
    padding:0 60px;
    margin: auto;
    height: 800px;
}

#graph{
    display: flex ;
    padding-top: 40px;
}
#graph div{
    flex:1;
}
#graph .item2 { 
    padding-top: 80px;
    align-items: flex-start;
    max-width: 800px;
}

#graph .item1{
    flex:1.4;
    height: 700px;
    
}



#graph .item2 h2{ 
    font-size: 50px;
    color: rgb(230, 175, 46);
}
.list {
    padding-left: 10px;
    color:rgb(181, 33, 33);
}
